* {
    font-family: 'Roboto', sans-serif;
    color: black;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
    text-align: center;
}

h1 {
    margin-top: 0px;
    padding: 24px 0px;
    padding-top: 200px;
}

.sidebars {
    position: fixed;

    width: 100px;
    height: 100vh;
    background-color: black;
}

#leftsb {
    left:0;
}
#lb{}
#rightsb {
    right: 0;
}
#r-icon {
    position: relative;
    right: 0;
    top: 20px;
    color: white;
}

#l-icon {
    position: relative;
    left: 0;
    top: 20px;
    color: white;
}

.main {
    width: 90vw;
    margin: auto;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.disc {
  cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    user-select: none;
    user-drag: none;

}

#add{
  padding-top: 100px;
}

#adicionar{
  padding: 20px;
  background-color: #ccc;
  top:100px;
  position: fixed;
  width: 50vw;
  left: 50%;
  transform: translate(-50%, 0);

}
.disc:hover {
  background-color: #eee;
}

.hide {
  display: none;
}

span {
    margin: 16px 0px;
    display: inline-block;
    width: 20vw;
}

img {
    width: 250px;
    height: auto;
    border-style: double;
}
